In [8]:
import numpy as np
import pandas as pd
health_data = pd.read_excel('F:\python project\Sports_Watch_Data_Set.xlsx') # To imports data from excel
print(health_data.to_string())

   Duration  Average_Pulse  Max_Pulse  Calorie_Burnage  Hours_Work  Hours_Sleep
0        30             80        120              240          10            7
1        30             85        120              250          10            7
2        45             90        130              260           8            7
3        45             95        130              270           8            7
4        45            100        140              280           0            7
5        60            105        140              290           7            8
6        60            110        145              300           7            8
7        60            115        145              310           8            8
8        75            120        150              320           0            8
9        75            125        150              330           8            8

In [9]:
print(health_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Duration         10 non-null     int64
 1   Average_Pulse    10 non-null     int64
 2   Max_Pulse        10 non-null     int64
 3   Calorie_Burnage  10 non-null     int64
 4   Hours_Work       10 non-null     int64
 5   Hours_Sleep      10 non-null     int64
dtypes: int64(6)
memory usage: 608.0 bytes
None

In [10]:
print(health_data.describe())

"""
Count - Counts the number of observations
Mean - The average value
Std - Standard deviation (explained in the statistics chapter)
Min - The lowest value
25%, 50% and 75% are percentiles (explained in the statistics chapter)
Max - The highest value
"""

        Duration  Average_Pulse   Max_Pulse  Calorie_Burnage  Hours_Work  \
count  10.000000      10.000000   10.000000        10.000000   10.000000
mean   52.500000     102.500000  137.000000       285.000000    6.600000
std    16.201852      15.138252   11.352924        30.276504    3.627059
min    30.000000      80.000000  120.000000       240.000000    0.000000
25%    45.000000      91.250000  130.000000       262.500000    7.000000
50%    52.500000     102.500000  140.000000       285.000000    8.000000
75%    60.000000     113.750000  145.000000       307.500000    8.000000
max    75.000000     125.000000  150.000000       330.000000   10.000000

       Hours_Sleep
count    10.000000
mean      7.500000
std       0.527046
min       7.000000
25%       7.000000
50%       7.500000
75%       8.000000
max       8.000000

In [37]:
df = pd.read_csv('F:\python project\data.csv')
#print(df.to_string())
print(df.head(2))

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0

In [16]:
print(df.head(10)) # The head() method returns the headers and a specified number of rows, starting from the top.
"""
Note: if the number of rows is not specified, the head() method will return the top 5 rows.
"""

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [18]:
print(df.tail(2)) # We can specify the numbers of rows.
"""
There is also a tail() method for viewing the last rows of the DataFrame.

The tail() method returns the headers and a specified number of rows, starting from the bottom.
"""

     Duration  Pulse  Maxpulse  Calories
167        75    120       150     320.4
168        75    125       150     330.4

'\nThere is also a tail() method for viewing the last rows of the DataFrame.\n\nThe tail() method returns the headers and a specified number of rows, starting from the bottom.\n'

In [19]:
print(df.info()) # The DataFrames object has a method called info(), that gives you more information about the data set.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

In [36]:
# Pandas - Cleaning Empty Cells
new_df = df.dropna()
# Note: By default, the dropna() method returns a new DataFrame, and will not change the original.
#print(new_df.to_string()) # Printing the whole data set.
print(df.head(2))

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0

In [35]:
# If you want to change the original DataFrame, use the inplace = True argument:
df.dropna(inplace=True) 
#print(df.to_string())
print(df.head(2))
"""
Note: Now, the dropna(inplace = True) will NOT return a new DataFrame, but it will remove all rows containg NULL values from the original DataFrame.
"""

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0

'\nNote: Now, the dropna(inplace = True) will NOT return a new DataFrame, but it will remove all rows containg NULL values from the original DataFrame.\n'

In [34]:
df = pd.read_csv('F:\python project\data.csv')
#print(df.to_string())
print(df.head(5))
df.fillna(130, inplace = True)
"""
Replace Empty Values
Another way of dealing with empty cells is to insert a new value instead.

This way you do not have to delete entire rows just because of some empty cells.

The fillna() method allows us to replace empty cells with a value:
"""

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

'\nReplace Empty Values\nAnother way of dealing with empty cells is to insert a new value instead.\n\nThis way you do not have to delete entire rows just because of some empty cells.\n\nThe fillna() method allows us to replace empty cells with a value:\n'

In [33]:
df["Calories"].fillna(130,inplace=True)
#print(df.to_string())
print(df.head(10))

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [ ]:
"""
Replace Using Mean, Median, or Mode
A common way to replace empty cells, is to calculate the mean, median or mode value of the column.

Pandas uses the mean() median() and mode() methods to calculate the respective values for a specified column:
"""